@import url('https://fonts.googleapis.com/css?family=Abel|Oxygen|Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Comfortaa|Darker+Grotesque&display=swap');

body {
	background-color: rgba(255, 165, 0, 1);
}

h2 {
	font-family: 'Darker Grotesque', sans-serif;
	color: rgba(255, 165, 0, 0.9);
}

/* The styling for the header section */
.jumbotron {
    background-image: url(../images/background.jpg);
    background-size: cover;
    width: 100vw;
    height: auto;
    margin-bottom: 0rem;
}

.jumbotron h1 {
    font-size: 6.0rem;
    color: white;
    line-height: 1;
    color: rgba(255, 165, 0, 0.9);
    text-align: left;
    font-family: 'Quicksand', sans-serif;
}

.jumbotron p{
    margin-top: 0;
    margin-bottom: 1rem;
    color: white;
    line-height: 0.4;
    font-family: Quicksand;
    font-weight: bold;
}

/* This styles the menu section */
.container.images {
    padding-top: 5%;
}

#menulist {
	background-color: white;
}

.container.col-md-4 {
    padding-bottom: 2%;
}

.col-md-3 h6 {
    font-size: 1rem;
    text-align: center;
    padding: 4% 0% 4% 0%;
    font-family: 'Quicksand', sans-serif;
    font-weight: bolder;
}

.col-md-3 p {
    margin-top: 0;
    margin-bottom: 1rem;
    text-align: center;
    font-family: 'Comfortaa', cursive;
}

.col-md-3 {
    padding-bottom: 2%;
}

.col-md-3:hover {
    background-color: rgba(255, 165, 0, 0.9);
    width: 120%;
    height: 120%;
}

/*The styling for the about us section*/
#aboutus {
	background-color: rgba(255, 165, 0, 0.9);
}

#aboutus p {
	font-family: 'Comfortaa', cursive;
}

#aboutus h2{
	color: white;
}

#footer p {
	color: white;
	font-family :'Quicksand', sans-serif;
}